$secondary-color: black;

@import url(./styles/top-bar.scss);
@import url(./styles/main.scss);

body {
  font-family: "Open Sans";
}

.verticalBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.verticalBar {
  background-color: $secondary-color;
  height: 60%;
  width: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 1rem 3rem 1rem 3rem;
}

footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 20px 5px 0px;
}

a {
  color: $secondary-color;
  text-decoration: underline;
}
